@charset "utf-8";

/*
    HTML5 and CSS3

    Final Project 1 of 3
    About Skylar Hight

    Starting Date: 05/01/2044
*/
@media only screen and (min-width: 641px) {
    
    td.textContainer {
        width: 50%;
        padding: 10px;
    }

    td.imgContainer {
        width: 50%;
        justify-content: top right;
    }
}