@charset "utf-8";

/*
    HTML5 and CSS3

    Final Project 1 of 3
    About Skylar Hight

    Starting Date: 04/29/2044
*/
html {
    background-color: beige;
    font-family: Verdana, Helvetica, 'Times New Roman';
}

body header, body article, body footer, body div {
    display: block;
    margin-left: 110px;
    margin-right: 110px;
}

body header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}

nav {
    list-style: none;
    list-style-image: none;
    text-align: center;
}

nav li {
    display: inline-grid;
    grid-template-columns: repeat(1, 2fr);
    margin: 0 10px;
    line-height: 1.25em;
    font-size: 1.35em;
}

nav a, nav a:visited {
    text-decoration: none;
    color: black;
}

nav a:active, nav a:hover {
    text-decoration: underline;
    background-color: lightskyblue;
}

 footer div#untilBDay {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 40px;
    left: 875px;
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
}

footer div#untilBDay div span#days, 
footer div#untilBDay div span#hours, 
footer div#untilBDay div span#minutes, 
footer div#untilBDay div span#seconds {
    font-size: 2.5em;
    font-family: 'Candara';
}
